<!-- src/app/pages/donation-campaigns/donation-campaigns.component.html -->
<div class="container my-4">
  <h2>Donation Campaigns</h2>
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col" *ngFor="let c of campaigns">
      <div class="card h-100">
        <img *ngIf="c.imageUrl" [src]="c.imageUrl" class="card-img-top" alt="">
        <div class="card-body">
          <h5 class="card-title">{{ c.title }}</h5>
          <p class="card-text">{{ c.description | slice:0:100 }}…</p>
          <!-- <a [routerLink]="[c.id]" class="btn btn-primary">View Details</a> -->
          <p class="card-text">{{ c.description.substr(0, 100) }}…</p>
        </div>
      </div>
    </div>
  </div>
</div>
