<!-- src/app/pages/dashboard/dashboard.component.html -->
<div class="d-flex">
  <nav class="flex-shrink-0 p-3 bg-light" style="width:200px;">
    <ul class="nav nav-pills flex-column">
      <li class="nav-item">
        <a class="nav-link" routerLink="campaigns" routerLinkActive="active">My Campaigns</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="blogs" routerLinkActive="active">My Blog Posts</a>
      </li>
    </ul>
  </nav>
  <div class="flex-fill p-3">
    <router-outlet></router-outlet>
  </div>
</div>
